@charset 'utf-8';

.form-group {

  .message {
    font-weight: 500;
    font-size: 1.2em;
    border-top: 2px;
    line-height: 13px;
    letter-spacing: -1px;

   &.success {
      color: #12ca40;
      font-weight: bold;
    }
   &.error {
      color: #ff2727;
    }
  }
}